<div class="w-full flex flex-col items-center">
  <div class="flex justify-between items-center px-4 py-2 mb-4 font-bold text-gray-800">
    <div class="text-xl text-gray-800"><%= @album.title %></div>
  </div>
  <div class="mb-6 space-x-4">
    <span class="hover:border-b hover:border-gray-800"><%= link_to t('albums.show.add_images'), new_album_photo_path(@album) %></span>
    <span class="hover:border-b hover:border-gray-800"><%= link_to t('albums.show.edit_images'), album_edit_photos_path(@album) %></span>
    <span class="hover:border-b hover:border-gray-800"><%= button_to t('albums.show.delete'), album_path(@album), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')} %></span>
  </div>

  <div id="book">
    <div class="my-page" data-density="hard">
      <%= image_tag '600*600_top_cover.jpg', alt: "Cover", class: "w-full" %>
    </div>
    <% if @photos.present? %>
      <% @photos.each do |photo| %>
        <% if photo.images.present? %>
          <% photo.images.each do |image| %>
            <div class="my-page contents flex flex-col items-center px-8 py-8" data-density="hard">
              <div class="w-full flex justify-center">
                <%= image_tag image.url, class: "max-h-[400px] object-contain" %>
              </div>
              <p class="flex items-center justify-center text-center mt-8 rounded-md bg-white max-w-full min-h-[100px] px-4 break-words">
                <%= photo.comment %>
              </p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="my-page" data-density="hard">
      <%= image_tag '600*600_back_cover.jpg', alt: "Back Cover", class: "w-full" %>
    </div>
  </div>
</div>