<%= form_with model: [@album, Photo.new], local: true, html: { multipart: true }, class: "space-y-6" do |f| %>
  <!-- ファイル選択 -->
  <div>
    <%= f.label :images, t('photos.new.choice'), class: "block mb-2 text-lg font-medium text-gray-700" %>
    <%= f.file_field :images, multiple: true, accept: 'image/*', class: "w-full border border-gray-300 bg-gray-100 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-300" %>
  </div>

  <!-- コメント入力 -->
  <div>
    <%= f.label :comment, "コメント", class: "block mb-2 text-lg font-medium text-gray-700" %>
    <%= f.text_field :comment, class: "w-full border border-gray-300 rounded px-3 py-2" %>
  </div>

  <div class="flex justify-center">
    <%= f.submit t('photos.new.upload'), class: "w-1/2 bg-button hover:bg-change text-white font-semibold py-2 rounded-lg text-lg" %>
  </div>
<% end %>
